* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  background-color: #2F4F4F;
  
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list-item {
  margin-left: 15px;
  padding: 10px;
  transition: background-color 0.4s ease;
}

.nav-list-item:hover {
  background-color: #ffffff;
  color: #2F4F4F
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('./bg-image2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}


